<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/fkJi93rO.jpg">
              </a>
              <p style="color: #ffffff; font-size: 20px;"><b>Saimon Anam</b></p>
              <p style="color: #ffffff;">Made with Love by Saimon Anam</p>
            </div>
          </div>
        </div>
      </ion-list>


    </ion-content>
</ion-view>
